<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAVA Intro</title>
    <link rel="stylesheet" href="/static/html/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header-top">
        <h1 id="header-top-h1">Best Learning Platform Ever !!</h1>
        <h4 id="header-top-h2">Get Your Goal || Achieve Your Target</h4>
       

    </div>
   <div class="nav">
       <ul>
           <li> <a href=""><img src="/pics/home (1).png" alt="">Home</a></li>
           <li> <a href=""><img src="/pics/java (1).png" alt="">Java</a></li>
           <li> <a href=""><img src="/pics/database.png" alt="">SQL</a></li>
           <li> <a href=""><img src="/pics/js (1).png" alt="">JS</a></li>
           <li> <a href=""><img src="/pics/c-.png" alt="">CPP</a></li>
           <li> <a href=""><img src="/pics/php (1).png" alt="">PHP</a></li>
           <li> <a href=""><img src="/pics/android.png" alt="">Android</a></li>
           <li> <a href=""><img src="/pics/python (1).png" alt="">Python</a></li>
           <li> <a href=""><img src="/pics/interview.png" alt="">interview</a></li>
           <li> <a href=""><img src="/pics/online-registration.png" alt="">Register</a></li>
           <li> <a href=""><img src="/pics/password.png" alt="">Login</a></li>   
       </ul>
   </div>
   <div class="main-box">
   <div class="left-bar">
     <h3 class="left-bar-h3">Java</h3> 
    <ol>
        <li><a href="index.html" target="mydynamic" >Introduction &nbsp;&nbsp;&nbsp;🟢</a></li>
        <li><a href="/static/html/Identifires.html">Identifiers</a></li>
        <li><a href="">Rules to define java Identifiers</a></li>
        <li><a href="">Reserved Words</a></li>
     
             <li><a href="">Data Types</a></li>
   
            
            <li><a href="">Literals</a></li>
  
            <li><a href="">Arrays</a></li>
            
            <li><a href="">Types of Variables</a></li>
            <li><a href="">Var arg method</a></li>
            <li><a href="">About main() Method</a></li>
            <li><a href="">Command line arguments</a></li>
            <li><a href="">Java Coding Standards</a></li>

            <li><a href="">Coding Standards for listeners</a></li>

    
    </ol>
    
   </div>


   <!-- list menu java contents Complete -->

   <!--  main div body  -->
   <div class="content-body" name="mydyanamic" >
    <h3>Introduction</h3><br>
    <p>In this Core java Tutorials is specailly designed for Student and Working professional.
        Java is a <span>simple, secure,robust, multithred, dynamic, light-weight, High Performance, Distributed, Object Oriented platform, independent
        , open source, Evergreen Programming; </span><br><br> since java can be used to develop all kinds of Applicatons like a Games , Mobile Application, website, Networking Application etc. So that we can say java 
            is a Programming suite. <br><br>Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995. James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already a registered company, so James Gosling and his team changed the name from Oak to Java.
    </p><br><br>
<h3>There are Three Modules of Java</h3><br>
<dl>
    <dt><b>1. JSE / J2SE &nbsp;(Java Standard Edition / Java 2 Platform Standard Edition)</b></dt><br>
    <dd>It is a base module of remaining two modules (JEE or JME). It is a installable software as JDK.This Mudule is Given to Develop "Standalone Application". It provides basic java Libraries ad concepts like OOPS, Exception Handling, Threadinng Mechanism, Collections etc.
        These things will be used even when you are writing a Web-Application (J2EE). We use JSE to develop Standalone Application. It includes core topics like OOPs, String<br><br><b> About Standalone Application:</b> <br><br>Standalone applications are also known as desktop applications or window-based applications. These are traditional software that we need to install on every machine. Examples of standalone application are Media player, antivirus, etc. AWT and Swing are used in Java for creating standalone applications.
    
        <video controls muted src="/VE Project 3.mkv">
            <track default kind="subtitles" srclang="en" src="/build/videos/arcnet.io(7-sec).mp4"/>
        </video>
    </dd><br>



    <dt><b>2. JEE / J2EE &nbsp;(Java Enterprise Edition / Java 2 Platform Enterprise Edition)</b></dt><br>
    <dd>JEE moudels is not a installable software module. it is a set of specification (rules and guidelines) given by "Sun People" (SUNMS) to "third Party Companines or Vendors Companies" to develop the server software. It can be a "Web Server Software" or "Application Server Software" and being a Java Developer we are responsible to download and install the Server Software (like as TOMCAT , IIS, Apache web Server etc) and Work on that Software. Working on that software is nothing but "Working with on JEE Modules." We use JEE to develop Enterprise Application
        It includes topics like Servlet, JSP, Web Services, EJB, JPA 
        <br><br><b>About Enterprise Application:</b><br><br>An application that is distributed in nature, such as banking applications, etc. is called an enterprise application. It has advantages like high-level security, load balancing, and clustering. In Java, EJB
        is used for creating enterprise applications.  
        
        <video controls muted src="">
            <track default kind="subtitles" srclang="en" src="/build/videos/arcnet.io(7-sec).mp4"/>
        </video>
    </dd><br>



    <dt><b>3. JME / J2ME &nbsp;(Java Micro Edition / Java 2 Platform Micro Edition)</b></dt>
    <dd>It is a installable software as MDK (Mobile Development Kit). We can develop embeded system application with the help of JME Module. It is useful to develop Micro Application (Mobile Application).<br><br><b>About Mobile Application: </b><br><br>An application that is distributed in nature, such as banking applications, etc. is called an enterprise application. It has advantages like high-level security, load balancing, and clustering. In Java, EJB
        is used for creating enterprise applications.
        <video controls muted src="">
            <track default kind="subtitles" srclang="en" src="/build/videos/arcnet.io(7-sec).mp4"/>
        </video>
    </dd>

</dl>

 <a href="index.html"><input type="button" value="Back" class="btn"></a> &nbsp;&nbsp;<a href="Identifires.html"><input type="button" value=" Next" class="btn"></a>
</div>


<!-- Social Media Icon Here -->

<div class="right-social-media-icon">
<a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
</div>
</div>
</body>
</html>


